<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/bootstrap/bootstrap-grid.css">
    <link rel="stylesheet" href="../static/css/style.css">
    {% if title %}
    <title>{{title}}</title>
    {% else %}
    <title>Главная</title>
    {% endif %}
</head>
<body>
    
    <header>

    </header>

    <main>
        <div class="main-form">
            <form name="neurointerface" method = "POST" enctype = "multipart/form-data">
                <div class="top">
                    <input type="submit" value="Анализировать" class="btn-result">
                </div>
                <div class="neurocontent">
                    <div class="left">
                        <img src="../static/img/test.png" alt="original" class="orig-img" width="400">
                        <div class="drop-zone">
                            <span class="drop-zone__prompt">Перетащите файл сюда или нажмите, чтобы загрузить</span>
                        <input type="file" name="file" class="drop-zone__input" >
                        </div>
                    </div>
                    <div class="right">
                        <img src="../static/img/test.png" alt="result" class="result-img" width="400">
                        <input type="button" value="Скачать">
                    </div>
                </div>
            </form>
        </div>
    </main>

    <footer>

    </footer>


    <script src="../static/js/script.js"></script>
</body>
</html>