{% extends 'base.html' %}
{% block content %}
{{ super() }}
<div class="wrapper row1">
  <header id="header" class="hoc clear">
    <section> 
      <div><i class="fa fa-phone"></i>+91 93106 64561</div>
      <div>
        <h1 id="logo"><a href="../index">International Undergraduate</a></h1>
      </div>
      <div>
        <form class="clear" method="post" action="#">
          <fieldset>
            <legend>Search:</legend>
            <input type="search" value="" placeholder="Search Here&hellip;">
            <button class="fa fa-search" type="submit" title="Search"><em>Search</em></button>
          </fieldset>
        </form>
      </div>
    </section>
    <nav id="mainav">
      <ul class="clear">
        <li><a href="../index">Home</a></li>
        <li class="drop"><a class="drop" href="../index#we">we</a>
          <ul>
            <li><a href="../index#news">News</a></li>
            <li><a href="../index#about">About</a></li>
            <li><a href="../index#gallery">Gallery</a></li>
            <li><a href="../index#review">Reviews</a></li>
            <li><a href="../index#cost">Cost</a></li>
          </ul>
        </li>
        <li class="active"><a class="drop" href="../pages/parts">Parts of the world</a>
          <ul>
            <li class="active"><a class="drop" href="../pages/america">America</a>
              <ul>
                <li class="active"><a href="../pages/usa">USA</a></li>
                <li><a href="../pages/canada">Canada</a></li>
              </ul>
            </li>
            <li><a class="drop" href="../pages/europe">Europe</a>
              <ul>
                <li><a href="../pages/west">West</a></li>
                <li><a href="../pages/east">East</a></li>
              </ul>
            </li>
          </ul>
        <li><a href="../pages/internships">Internships</a></li>
        <li><a href="../pages/scholarships">Scholarships</a></li>
        <li><a href="../pages/mentors">Mentors</a></li>
        <li><a href="../pages/articles">Articles</a></li>
      </ul>
    </nav>
  </header>
</div>
<div class="wrapper row3">
  <main class="hoc container clear"> 
    <!-- main body -->
    <!-- ################################################################################################ -->
    <div class="content three_quarter first"> 
      <h1>USA</h1>
      <img class="imgr borderedbox inspace-5" src="../static/images/usa-200x200.jpg" alt="">
      <p>Country in North America. The area is 9.5 million km². The population is just over 333 million people. The United States has a federal form of the device, administratively consists of 50 states and the Federal District of Columbia; they also have a number of island territories under their control. </p>
      <p>In USA we work with states like California, Florida, Alabama, Washington, Vermont, Oregon, Wisconsin, Ilinnois, Indiana, Kansas, Colorado, Massachusetts, Montana, Nevada, New York, Ohio, </p>
      <img class="imgl borderedbox inspace-5" src="../static/images/Benjamin A.Gilman.png" alt="">
      <p>Now we known only about Benjamin A. Gilman program for students from other countries to enroll the university <a href="https://www.gilmanscholarship.org/" title="Site of program">BAG</a>.</p>
      <h1>Table most popular programmms and universites in this programms</h1>
      <div class="scrollable">
        <table>
          <thead>
            <tr>
              <th>IT</th>
              <th>Design</th>
              <th>Science</th>
              <th>Medicine</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><a href="#">University 1</a></td>
              <td><a href="#">University 1</a></td>
              <td><a href="#">University 1</a></td>
              <td><a href="#">University 1</a></td>
            </tr>
            <tr>
              <td><a href="#">University 2</a></td>
              <td><a href="#">University 2</a></td>
              <td><a href="#">University 2</a></td>
              <td><a href="#">University 2</a></td>
            </tr>
            <tr>
              <td><a href="#">University 3</a></td>
              <td><a href="#">University 3</a></td>
              <td><a href="#">University 3</a></td>
              <td><a href="#">University 3</a></td>
            </tr>
            <tr>
              <td><a href="#">University 4</a></td>
              <td><a href="#">University 4</a></td>
              <td><a href="#">University 4</a></td>
              <td><a href="#">University 4</a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="sidebar one_quarter"> 
      <div class="sdb_holder">
        <h6>Information about company</h6>
        <address>
        InternationlUndergraduate<br>
        Address Line 1<br>
        Address Line 2<br>
        Town/City<br>
        Postcode/Zip<br>
        Tel: 91 93106 64561<br>
        Email: <a href="#">IU@gmail.com</a>
        </address>
      </div>
    </div>
    <div class="clear"></div>
  </main>
</div>
{% endblock %}