{% extends "base.html" %}
{% block content %}
{{ super() }}
<body id="top">
<div class="wrapper row1">
		<header id="header" class="hoc clear">
		  <section>
			<div><i class="fa fa-phone"></i>+91 93106 64561</div>
			<div><h1 id="logo"><a href="index">International Undergraduate</a></h1></div>
			<div class="clear" method="post" action="#">
				<form class="clear" method="post" action="#">
					<fieldset>
						<legend>Search</legend>
						<input type="search" value="" placeholder="Search Here&hellip;">
						<button class="fa fa-search" type="sumbit" title="Search"><em>Search</em></button>
					</fieldset>
				</form>
			</div>
		  </section>
          <nav id="mainav">
			<ul class="clear">
			  <li class="active"><a href="index">Home</a></li>
        	  <li><a class="drop" href="#we">we</a>
          	    <ul>
          	      <li><a href="#news">News</a></li>
              	  <li><a href="#about">About</a></li>
              	  <li><a href="#gallery">Gallery</a></li>
              	  <li><a href="#reviews">Reviews</a></li>
              	  <li><a href="#cost">Cost</a></li>
          	  	</ul>
        	  </li>
        	  <li><a class="drop" href="pages/parts">Parts of the world</a>
          	    <ul>
            	  <li><a class="drop" href="pages/america">America</a>
            	  	<ul>
            	  	  <li><a href="pages/usa">USA</a></li>
            	  	  <li><a href="pages/canada">Canada</a></li>
            	  	</ul>
            	  </li>
            	  <li><a class="drop" href="pages/europe">Europe</a>
            	    <ul>
                	  <li><a href="pages/west">West</a></li>
                	  <li><a href="pages/east">East</a></li>
              	    </ul>
            	  </li>
          	  	</ul>
        	  </li>
        	  <li><a href="pages/internships">Internships</a></li>
        	  <li><a href="pages/scholarships">Scholarships</a></li>
        	  <li><a href="pages/mentors">Mentors</a></li>
        	  <li><a href="pages/articles">Articles</a></li>
      		</ul>
      	    </nav>
      </header>
	</div>
<span id="we">
<div class="bgded" style="background-image:url('static/images/main.jpg');">

  <div id="pageintro" class="hoc clear">
    <article>
      <h3 class="heading">Admission to an international university</h3>
      <p>We help you to be accepted to International University, we take you step by step, you can also find useful information related to this, and meet other students. You can create account with this button</p>
      <footer><a class="btn" href="SingUp">Create account</a></footer>
    </article>
  </div>
</div>
</span>
<span id="news">
<div class="wrapper row3">
  <main class="hoc container clear">
    <div class="sectiontitle">
      <h6 class="heading">There will be news</h6>
      <p>We just created new content</p>
    </div>
    <div class="group">
      <div class="one_half first"><img class="inspace-15 borderedbox" src="static/images/demo/474x356.png" alt=""></div>
      <div class="one_half">
        <ul class="nospace group inspace-15">
          <li class="one_half first btmspace-50">
            <article>
              <h6 class="heading"><a href="#">Here title</a></h6>
              <p class="nospace">text of news&hellip;</p>
            </article>
          </li>
          <li class="one_half btmspace-50">
            <article>
              <h6 class="heading"><a href="#">We wait</a></h6>
              <p class="nospace">They speak there will be text&hellip;</p>
            </article>
          </li>
          <li class="one_half first">
            <article>
              <h6 class="heading"><a href="#">It's hard</a></h6>
              <p class="nospace">We need more information to fill useful information&hellip;</p>
            </article>
          </li>
          <li class="one_half">
            <article>
              <h6 class="heading"><a href="#">On picture</a></h6>
              <p class="nospace">We don't have a picture because we while create content, and think about it&hellip;</p>
            </article>
          </li>
        </ul>
      </div>
    </div>
    <div class="clear"></div>
  </main>
</div>
</span>
<span id="about">
<div class="wrapper row2">
  <section class="hoc container clear">
    <div class="sectiontitle">
      <h6 class="heading">Why we</h6>
      <p>We startup, created by student who really want to enroll to international university</p>
    </div>
    <ul class="nospace group overview services">
      <li class="one_third">
        <article><a href="#"><i class="fa fa-500px"></i></a>
          <h6 class="heading"><a href="#">Great preparation</a></h6>
          <p>We help with materials for preparation through achievements&hellip;</p>
          <footer><a href="#">View Details &raquo;</a></footer>
        </article>
      </li>
      <li class="one_third">
        <article><a href="#"><i class="fa fa-angellist"></i></a>
          <h6 class="heading"><a href="#">Friendly atmosphere</a></h6>
          <p>In our team we all friendly, ready for help you&hellip;</p>
          <footer><a href="#">View Details &raquo;</a></footer>
        </article>
      </li>
      <li class="one_third">
        <article><a href="#"><i class="fa fa-bug"></i></a>
          <h6 class="heading"><a href="#">Wide range of services</a></h6>
          <p>Consultations, selection of an institute and a study program, sending documents, obtaining a visa and insurance, meeting at the airport, organizing accommodation, registering in the country, opening an account. Starting life abroad has never been so easy!&hellip;</p>
          <footer><a href="#">View Details &raquo;</a></footer>
        </article>
      </li>
      <li class="one_third">
        <article><a href="#"><i class="fa fa-eercast"></i></a>
          <h6 class="heading"><a href="#">Right Choice</a></h6>
          <p>Education is an important and responsible stage of life, opening the way to a professional future at the international level. Our mission is to help you make the right choice!&hellip;</p>
          <footer><a href="#">View Details &raquo;</a></footer>
        </article>
      </li>
      <li class="one_third">
        <article><a href="#"><i class="fa fa-graduation-cap"></i></a>
          <h6 class="heading"><a href="#">We cooperate with universities</a></h6>
          <p>We have agreements with renowned universities&hellip;</p>
          <footer><a href="#">View Details &raquo;</a></footer>
        </article>
      </li>
      <li class="one_third">
        <article><a href="#"><i class="fa fa-wpexplorer"></i></a>
          <h6 class="heading"><a href="#">International company</a></h6>
          <p>The IU company organizes education abroad for students. Make a reliable investment in your own future by getting an education in universities and language schools in Europe and America.&hellip;</p>
          <footer><a href="#">View Details &raquo;</a></footer>
        </article>
      </li>
    </ul>
    <footer class="center"><a class="btn" href="#">Watch more</a></footer>
  </section>
</div>
</span>
<span id="gallery">
<div class="wrapper row3">
  <figure class="hoc container clear">
    <figcaption class="sectiontitle">
      <h6 class="heading">Gallery</h6>
      <p>Our photos</p>
    </figcaption>
    <ul class="nospace group overview">
      <li class="one_third"><a href="#"><img src="static/images/arch-200x200.jpg" alt=""></a></li>
      <li class="one_third"><a href="#"><img src="static/images/bisiness-200x200.jpg" alt=""></a></li>
      <li class="one_third"><a href="#"><img src="static/images/languages.jpg" alt=""></a></li>
      <li class="one_third"><a href="#"><img src="static/images/moda-200x200.jpg" alt=""></a></li>
      <li class="one_third"><a href="#"><img src="static/images/tourism-200x200.jpg" alt=""></a></li>
      <!--<li class="one_third"><a href="#"><img src="images/demo/320x240.png" alt=""></a></li>
      <li class="one_third"><a href="#"><img src="images/demo/320x240.png" alt=""></a></li>
      <li class="one_third"><a href="#"><img src="images/demo/320x240.png" alt=""></a></li>
      <li class="one_third"><a href="#"><img src="images/demo/320x240.png" alt=""></a></li>
      <li class="one_third"><a href="#"><img src="images/demo/320x240.png" alt=""></a></li>
      <li class="one_third"><a href="#"><img src="images/demo/320x240.png" alt=""></a></li>-->
    </ul>
  </figure>
</div>
</span>
<span id="reviews">
<div class="wrapper row2">
  <section class="hoc container clear testimonials">
    <div class="sectiontitle">
      <h6 class="heading">Reviews</h6>
      <p>Here is one review, if you want more click on the button</p>
    </div>
    <article class="btmspace-80">
      <blockquote>Nice site, full of information. Also pleased with their friendly team. Thanks to them, I entered a European university from Russia.</blockquote>
      <figure class="clear"><img src="static/images/demo/60x60.png" alt="">
        <figcaption>
          <h6 class="heading">Yulenkov Sergey</h6>
          <em>Igorievich</em></figcaption>
      </figure>
    </article>
    <footer class="center"><a class="btn" href="#">View More reviews&raquo;</a></footer>
  </section>
</div>
</span>
<span id="cost">
<div class="wrapper row3">
  <section class="hoc container clear">
    <div class="sectiontitle">
      <h6 class="heading">We do our work for free</h6>
      <p>If you want to get more prepared you can pay a small amount.</p>
    </div>
    <div class="group latest">
      <article class="one_half first"><a href="#"><img src="static/images/demo/474x356.png" alt=""></a>
        <div class="excerpt">
          <h6 class="heading">Preparatory</h6>
          <p>You pay to be more prepared&hellip;</p>
          <div class="clear">
            <footer class=" fl_right"><a href="#">Buy</a></footer>
            <ul class="nospace meta fl_left">
              <li><a href="#">Price</a></li>
              <li><i class="fa fa-tag"></i> <a href="#">100$</a></li>
            </ul>
          </div>
        </div>
      </article>
      <article class="one_half"><a href="#"><img src="static/images/demo/474x356.png" alt=""></a>
        <div class="excerpt">
          <h6 class="heading">Support us</h6>
          <p>You can support us, to continue work and been free for others&hellip;</p>
          <div class="clear">
            <footer class=" fl_right"><a href="#">Donate</a></footer>
            <ul class="nospace meta fl_left">
              <li><a href="#">Price</a></li>
              <li><i class="fa fa-tag"></i> <a href="#">any</a></li>
            </ul>
          </div>
        </div>
      </article>
    </div>
    <footer class="center"><a class="btn" href="#">View More Products&raquo;</a></footer>
  </section>
</div>
</span>
</body>
{% endblock %}

