<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Нейросеть</title>
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="apple-touch-icon" sizes="180x180" href="static\img\ico\favicon.ico">
    <link rel="icon" type="image/png" sizes="32x32" href="static\img\ico\favicon.ico">
    <link rel="icon" type="image/png" sizes="16x16" href="static\img\ico\favicon.ico">
    <link rel="manifest" href="static/img/ico/site.webmanifest">
</head>
<body>

    <header>

    </header>

    <main class="root">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul class="flashes">
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        <form class="main" action="localhost:5000/" enctype="multipart/form-data" method="post">
            <!--<div class="fl-cl justify-content-start w-100 h-100 p-3 text-white" id="pre_see">
                <input type="file" id="file-input" onchange="img_hendler(this)" draggable="true">
                    <label for="file-input" class="pin fl-cl">Выберите файл или перетащите его</label>-->
                    <!--<img id="image">-->
            <!--</div>-->
            <!--<div class="btns fl-cl">
                <button class="help fl-cl">Помощь</button>
                <button class="upload">Загрузить</button>
            </div>-->
            <div class="top">
                <input type="submit"  value="Анализировать" class="btn">
            </div>
            <div class="content">
                    <div class="left" id="pre_see">
                        <img  class="orig-img" width="400" id="image">
                        <input type="file" id="file-input" onchange="img_hendler(this)" draggable="true" required>
                        <label for="file-input" class="pin fl-cl upload-container"> <!--id="upload-container"-->Перетащите файл сюда или нажмите, чтобы загрузить</label>
                    </div>
                    <div class="right">
                        <img  class="result-img" width="400">
                        <input type="button"  value="Скачать" class="btn">
                    </div>
            </div>
            <div class="graph">
                <img  class="graph-img" width="400" id="graphimg">
            </div>
        </form>
        <div class="text-white text-center" id="errs"></div>
    </main>

    <footer>

    </footer>

    <script src="../static/js/jq.js"></script>
    <script src="../static/js/script.js"></script>
</body>
</html>